<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>バージョン一覧</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <h1>原神　深境螺旋クリア編成</h1>
    <h2>バージョン一覧</h2>
    <ul>
        {% for version in versions %}
            <li><a href="{{ url_for('version_detail', version=version) }} " class="btn-square">{{ version }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
